html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 500;
}

p, h2 {
    margin: 0;
}

p {
    font-size: 18px;
}

main {
    width: 375px;
    margin: 0 auto;
    box-shadow: 0px 0px 8px 6px rgba(235,241,255,0.75);
    border-radius: 40px;
}

#upper-section {
    text-align: center;
    padding: 23px 37px 45px 37px;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    color: hsl(221deg 100% 96% / 55%);
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
}

#bg-circle {
    margin: 20px auto;
    padding: 26px;
    border-radius: 50%;
    width: 126px;
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}

#bg-circle h2 {
    font-weight: 800;
    font-size: 3rem;
    color: hsl(0, 0%, 100%);
}

#bg-circle p {
    font-size: .7rem;
    color: hsl(221deg 100% 96% / 35%);
}

#grade {
    margin-bottom: 10px;
    color: hsl(0, 0%, 100%);
    font-size: 1.8rem;
}

#lower-section {
    padding: 20px 30px;
    
}

#l-sec-title {
 padding-bottom: 20px;
}

.score {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.score img {
    padding-right: 10px;
}

#list-1 {
    background-color: hsl(0deg 100% 67% / 10%);
}

#list-1 .score-content-left {
    color: hsl(0, 100%, 67%);
}

#list-2 {
    background-color: hsl(39deg 100% 56% / 10%);
}

#list-2 .score-content-left {
    color: hsl(39, 100%, 56%);
}

#list-3 {
    background-color: hsl(166deg 100% 37% / 10%)
}

#list-3 .score-content-left {
    color: hsl(166, 100%, 37%);
}

#list-4 {
    background-color: hsl(234deg 85% 45% / 10%);
}

#list-4 .score-content-left {
    color: hsl(234, 85%, 45%);
}

.score-content-left {
    display: flex;
    color: hsl(224, 30%, 27%);
}

.bold {
    color: hsl(224deg 30% 27% / 39%);
}

button {
    width: 100%;
    border: none;
    border-radius: 25px;
    padding: 17px;
    color: white;
    background-color: hsl(224, 30%, 27%);
    font-size: 1.1rem;
    margin: 10px 0;
}

button:hover {
    background-color: hsl(241, 81%, 54%);
}

.attribution { 
    margin: 20px auto;
    /* bottom: 0px; */
}

@media screen and (min-width: 768px) {
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        overflow: hidden;
    }

    main {
        display: flex;
        width: 700px;
    }

    #upper-section, #lower-section {
        flex-basis: 50%;
        border-radius: 40px;
    }
    .attribution { position: fixed; bottom: 20px; }
}